table {
    width: 85%;
    border-collapse: collapse;
    font-size: 14px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    table-layout: fixed; /* Menentukan tata letak tabel tetap */
  }
  .tabel-pengajuan-lapak222 {
    margin-top: 8.5%;
    margin-left: 17%;
  }
  th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word; /* Memastikan teks terbungkus dalam sel */
  }
  th {
    background-color: #fff;
  }
  tr:nth-child(even) {
    background-color: #fff;
  }
  th:nth-child(1), td:nth-child(1) {
    width: 25%; /* Tentukan lebar kolom Nama Lapak */
  }
  th:nth-child(2), td:nth-child(2) {
    width: 15%; /* Tentukan lebar kolom Tanggal Pengajuan */
  }
  th:nth-child(3), td:nth-child(3) {
    width: 35%; /* Tentukan lebar kolom Alamat */
  }
  th:nth-child(4), td:nth-child(4) {
    width: 10%; /* Tentukan lebar kolom Status */
  }
  th:nth-child(5), td:nth-child(5) {
    width: 15%; /* Tentukan lebar kolom Informasi Lapak */
    text-align: center;
  }
  
  .status{
    background-color: #DC3545;
    color: white;
    padding: 5px 10px;
    border-radius: 25px;
  }
  
  .info-lapak{
    font-weight: bolder;
    cursor: pointer;
  }
  
  .pagination {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins, sans-serif;
    font-size: 14px;
  }
  
  .pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 4px;
    border-radius: 5px;
  }
  
  .pagination a.active {
    background-color: #DC3545;
    color: white;
    border: 1px solid #DC3545;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #ddd;
  }
  /* Style for action button */
.action-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #969696d7; /* Warna latar belakang */
  color: #fff; /* Warna teks */
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Efek transisi ketika tombol dihover */
}

.action-button:hover {
  background-color: #cc2b2b; /* Warna latar belakang saat tombol dihover */
}

.action-button:focus {
  outline: none; /* Hilangkan outline saat tombol mendapatkan fokus */
}