<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="css/global-pembaruan.css" />
    <link rel="stylesheet" href="css/admin-pembaruan.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
    />
  </head>
  <body>
    <%- include('./layout/sidebar.ejs') %>
    <%- include('./layout/header.ejs') %>
    
    <table class="tabel-verifikasi-lapak">
      <thead>
        <tr class="informasi-table-verifikasi">
          <th>Nama Lapak</th>
          <th>Alamat</th>
          <th class="ulasan">Ulasan</th>
          <th>Total Laporan Terlampir</th>
          <th>Total Laporan Tertunda</th>
          <th>Laporan Tertunda</th>
          <th>Status</th>
          <th>Informasi Lapak</th>
        </tr>
      </thead>
      <tbody>
         <tr>
          <td>Cendol Bogo</td>
          <td>Jl. Bogo No.20, Burangrang, Kec. Lengkong, Kota Bandung</td>
          <td  class="deskripsi-table-verifikasi">5/5</td>
          <td  class="deskripsi-table-verifikasi">0</td>
          <td  class="deskripsi-table-verifikasi">0</td>
          <td  class="deskripsi-table-verifikasi">
            <img src="../public/action-value@2x.png"/>
          </td>
          <td  class="deskripsi-table-verifikasi">Tutup</td>
          <td  class="deskripsi-table-verifikasi">
            <img src="../public/action-value@2x.png"/>
          </td>
        </tr> 

        <tr>
          <td>Cendol Bogo</td>
          <td>Jl. Bogo No.20, Burangrang, Kec. Lengkong, Kota Bandung</td>
          <td  class="deskripsi-table-verifikasi">5/5</td>
          <td  class="deskripsi-table-verifikasi">0</td>
          <td  class="deskripsi-table-verifikasi">0</td>
          <td  class="deskripsi-table-verifikasi">
            <img src="../public/action-value@2x.png"/>
          </td>
          <td  class="deskripsi-table-verifikasi">Tutup</td>
          <td  class="deskripsi-table-verifikasi">
            <img src="../public/action-value@2x.png"/>
          </td>
        </tr> 

        <tr>
          <td>Cendol Bogo</td>
          <td>Jl. Bogo No.20, Burangrang, Kec. Lengkong, Kota Bandung</td>
          <td  class="deskripsi-table-verifikasi">5/5</td>
          <td  class="deskripsi-table-verifikasi">0</td>
          <td  class="deskripsi-table-verifikasi">0</td>
          <td  class="deskripsi-table-verifikasi">
            <img src="../public/action-value@2x.png"/>
          </td>
          <td  class="deskripsi-table-verifikasi">Tutup</td>
          <td  class="deskripsi-table-verifikasi">
            <img src="../public/action-value@2x.png"/>
          </td>
        </tr> 
      </tbody>
    </table>
    <footer class="tabel-footer">
      <div class="rectangle-container">
        <div class="frame-child1"></div>
        <div class="frame-child2"></div>
        <div class="frame-child3"></div>
        <div class="frame-child4"></div>
        <div class="rectangle-parent1">
          <div class="frame-child5"></div>
          <div class="empty-wrapper">
            <div class="empty">1</div>
          </div>
        </div>
        <div class="showing-1-to">Showing 1 to 10 of 50 entries</div>
        <div class="display">Display</div>
        <div class="div">10</div>
        <div class="rectangle-parent2">
          <div class="frame-child6"></div>
          <div class="div1">2</div>
        </div>
        <div class="rectangle-parent3">
          <div class="frame-child7"></div>
          <div class="div2">3</div>
        </div>
        <div class="rectangle-parent4">
          <div class="frame-child8"></div>
          <div class="div3">4</div>
        </div>
        <img
          class="chevron-right-icon"
          loading="lazy"
          alt=""
          src="./public/chevronright.svg"
        />

        <img
          class="chevron-right-icon1"
          loading="lazy"
          alt=""
          src="./public/chevronright-1.svg"
        />
      </div>
      <img class="tabel-footer-child" alt="" src="./public/group-203.svg" />

      <div class="tabel-footer-item"></div>
    </footer>
  

    <div class="h4-heading">All (3)</div>
  </body>
</html>
