<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/admin-list_lapak.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
    />
  </head>
  <body>
    <div class="list-lapak">
      <main class="admin-panel1">
        <div class="heading">
          <div class="data-entries"></div>
          <div class="report-table">
            <div class="table-rows">
              <div class="danger-status">
                <div class="title">Nama Lapak</div>
              </div>
              <img
                class="table-rows-child"
                alt=""
                src="./public/group-206.svg"
              />
            </div>
          </div>
          <div class="heading-child"></div>
        </div>
        <div class="title-value">
          <div class="title-value-child"></div>
          <div class="enter-title-wrapper">
            <div class="enter-title">Teman Lama</div>
          </div>
          <div class="title-value-item"></div>
        </div>
        <div class="title-value1">
          <div class="title-value-inner"></div>
          <div class="test-title-wrapper">
            <div class="test-title">Rumah Makan Padang Selera</div>
          </div>
          <div class="title-value-child1"></div>
        </div>
        <div class="title-value2">
          <div class="title-value-child2"></div>
          <div class="test-title-container">
            <div class="test-title1">Masakan Padang Cicendo</div>
          </div>
          <div class="title-value-child3"></div>
        </div>
        <div class="title-value3">
          <div class="title-value-child4"></div>
          <div class="test-title-frame">
            <div class="test-title2">RM. Seafood Santosa</div>
          </div>
          <div class="title-value-child5"></div>
        </div>
        <div class="title-value4">
          <div class="title-value-child6"></div>
          <div class="frame-div">
            <div class="test-title3">Cendol Bogo</div>
          </div>
          <div class="title-value-child7"></div>
        </div>
        <div class="title-value5">
          <div class="title-value-child8"></div>
          <div class="test-title-wrapper1">
            <div class="test-title4">Warung Nasi Berkah</div>
          </div>
          <div class="title-value-child9"></div>
        </div>
        <div class="title-value6">
          <div class="title-value-child10"></div>
          <div class="test-title-wrapper2">
            <div class="test-title5">Warung Tegal</div>
          </div>
          <div class="title-value-child11"></div>
        </div>
        <div class="title-value7">
          <div class="title-value-child12"></div>
          <div class="test-title-wrapper3">
            <div class="test-title6">Teman Lama Pasteur</div>
          </div>
          <div class="title-value-child13"></div>
        </div>
        <div class="heading1">
          <div class="heading-item"></div>
          <div class="title-wrapper">
            <div class="title1">Alamat</div>
          </div>
          <div class="heading-inner"></div>
          <img class="group-icon" alt="" src="./public/group-2061.svg" />
        </div>
        <div class="title-value8">
          <div class="title-value-child14"></div>
          <div class="test-title-wrapper4">
            <div class="test-title7">
              Jl. Bima No.60, Arjuna, Kec. Cicendo, Kota Bandung
            </div>
          </div>
          <div class="title-value-child15"></div>
        </div>
        <div class="title-value9">
          <div class="title-value-child16"></div>
          <div class="test-title-wrapper5">
            <div class="test-title8">
              Jl. Bima No.22, Arjuna, Kec. Cicendo, Kota Bandung
            </div>
          </div>
          <div class="title-value-child17"></div>
        </div>
        <div class="title-value10">
          <div class="title-value-child18"></div>
          <div class="test-title-wrapper6">
            <div class="test-title9">
              Jl. Cendana No.10, Cihapit, Kec. Bandung Wetan, Kota Bandung, Jawa
              Barat
            </div>
          </div>
          <div class="title-value-child19"></div>
        </div>
        <div class="title-value11">
          <div class="title-value-child20"></div>
          <div class="test-title-wrapper7">
            <div class="test-title10">
              Jl. Aruna No.30, Arjuna, Kec. Cicendo, Kota Bandung
            </div>
          </div>
          <div class="title-value-child21"></div>
        </div>
        <div class="title-value12">
          <div class="title-value-child22"></div>
          <div class="test-title-wrapper8">
            <div class="test-title11">
              Jl. Bogo No.20, Burangrang, Kec. Lengkong, Kota Bandung
            </div>
          </div>
          <div class="title-value-child23"></div>
        </div>
        <div class="title-value13">
          <div class="title-value-child24"></div>
          <div class="test-title-wrapper9">
            <div class="test-title12">
              Jl. Bima No.32, Arjuna, Kec. Cicendo, Kota Bandung
            </div>
          </div>
          <div class="title-value-child25"></div>
        </div>
        <div class="title-value14">
          <div class="title-value-child26"></div>
          <div class="test-title-wrapper10">
            <div class="test-title13">
              Jl. Bima No.89, Arjuna, Kec. Cicendo, Kota Bandung
            </div>
          </div>
          <div class="title-value-child27"></div>
        </div>
        <div class="title-value15">
          <div class="title-value-child28"></div>
          <div class="test-title-wrapper11">
            <div class="test-title14">
              Jl. Dr. Djunjunan No.143-149, Pajajaran, Kec. Cicendo, Kota
              Bandung
            </div>
          </div>
          <div class="title-value-child29"></div>
        </div>
        <div class="heading2">
          <div class="heading-child1"></div>
          <div class="ulasan">Ulasan</div>
          <div class="line-div"></div>
        </div>
        <div class="date-value">
          <div class="date-value-child"></div>
          <div class="octoober-entry-wrapper">
            <div class="octoober-entry">3/5</div>
          </div>
          <div class="date-value-item"></div>
        </div>
        <div class="date-value1">
          <div class="date-value-inner"></div>
          <div class="wrapper">
            <div class="div">5/5</div>
          </div>
          <div class="date-value-child1"></div>
        </div>
        <div class="date-value2">
          <div class="date-value-child2"></div>
          <div class="container">
            <div class="div1">5/5</div>
          </div>
          <div class="date-value-child3"></div>
        </div>
        <div class="date-value3">
          <div class="date-value-child4"></div>
          <div class="frame">
            <div class="div2">5/5</div>
          </div>
          <div class="date-value-child5"></div>
        </div>
        <div class="date-value4">
          <div class="date-value-child6"></div>
          <div class="wrapper1">
            <div class="div3">5/5</div>
          </div>
          <div class="date-value-child7"></div>
        </div>
        <div class="date-value5">
          <div class="date-value-child8"></div>
          <div class="wrapper2">
            <div class="div4">4/5</div>
          </div>
          <div class="date-value-child9"></div>
        </div>
        <div class="date-value6">
          <div class="date-value-child10"></div>
          <div class="wrapper3">
            <div class="div5">5/5</div>
          </div>
          <div class="date-value-child11"></div>
        </div>
        <div class="date-value7">
          <div class="date-value-child12"></div>
          <div class="wrapper4">
            <div class="div6">4/5</div>
          </div>
          <div class="date-value-child13"></div>
        </div>
        <div class="heading3">
          <div class="heading-child2"></div>
          <div class="total-laporan-terlampir-container">
            <span class="total-laporan-terlampir-container1">
              <p class="total-laporan">Total Laporan</p>
              <p class="terlampir">Terlampir</p>
            </span>
          </div>
          <div class="heading-child3"></div>
        </div>
        <div class="date-value8">
          <div class="date-value-child14"></div>
          <div class="octoober-2021-wrapper">
            <div class="octoober-2021">3</div>
          </div>
          <div class="date-value-child15"></div>
        </div>
        <div class="date-value9">
          <div class="date-value-child16"></div>
          <div class="octoober-2021-container">
            <div class="octoober-20211">0</div>
          </div>
          <div class="date-value-child17"></div>
        </div>
        <div class="date-value10">
          <div class="date-value-child18"></div>
          <div class="octoober-2021-frame">
            <div class="octoober-20212">0</div>
          </div>
          <div class="date-value-child19"></div>
        </div>
        <div class="date-value11">
          <div class="date-value-child20"></div>
          <div class="octoober-2021-wrapper1">
            <div class="octoober-20213">0</div>
          </div>
          <div class="date-value-child21"></div>
        </div>
        <div class="date-value12">
          <div class="date-value-child22"></div>
          <div class="octoober-2021-wrapper2">
            <div class="octoober-20214">0</div>
          </div>
          <div class="date-value-child23"></div>
        </div>
        <div class="date-value13">
          <div class="date-value-child24"></div>
          <div class="octoober-2021-wrapper3">
            <div class="octoober-20215">0</div>
          </div>
          <div class="date-value-child25"></div>
        </div>
        <div class="date-value14">
          <div class="date-value-child26"></div>
          <div class="octoober-2021-wrapper4">
            <div class="octoober-20216">0</div>
          </div>
          <div class="date-value-child27"></div>
        </div>
        <div class="date-value15">
          <div class="date-value-child28"></div>
          <div class="octoober-2021-wrapper5">
            <div class="octoober-20217">0</div>
          </div>
          <div class="date-value-child29"></div>
        </div>
        <div class="heading4">
          <div class="heading-child4"></div>
          <div class="total-laporan-tertunda-container">
            <span class="total-laporan-tertunda-container1">
              <p class="total-laporan1">Total Laporan</p>
              <p class="tertunda">Tertunda</p>
            </span>
          </div>
          <div class="heading-child5"></div>
        </div>
        <div class="date-value16">
          <div class="date-value-child30"></div>
          <div class="octoober-2021-wrapper6">
            <div class="octoober-20218">3</div>
          </div>
          <div class="date-value-child31"></div>
        </div>
        <div class="date-value17">
          <div class="date-value-child32"></div>
          <div class="octoober-2021-wrapper7">
            <div class="octoober-20219">0</div>
          </div>
          <div class="date-value-child33"></div>
        </div>
        <div class="date-value18">
          <div class="date-value-child34"></div>
          <div class="octoober-2021-wrapper8">
            <div class="octoober-202110">0</div>
          </div>
          <div class="date-value-child35"></div>
        </div>
        <div class="date-value19">
          <div class="date-value-child36"></div>
          <div class="octoober-2021-wrapper9">
            <div class="octoober-202111">0</div>
          </div>
          <div class="date-value-child37"></div>
        </div>
        <div class="date-value20">
          <div class="date-value-child38"></div>
          <div class="octoober-2021-wrapper10">
            <div class="octoober-202112">0</div>
          </div>
          <div class="date-value-child39"></div>
        </div>
        <div class="date-value21">
          <div class="date-value-child40"></div>
          <div class="octoober-2021-wrapper11">
            <div class="octoober-202113">0</div>
          </div>
          <div class="date-value-child41"></div>
        </div>
        <div class="date-value22">
          <div class="date-value-child42"></div>
          <div class="octoober-2021-wrapper12">
            <div class="octoober-202114">0</div>
          </div>
          <div class="date-value-child43"></div>
        </div>
        <div class="date-value23">
          <div class="date-value-child44"></div>
          <div class="octoober-2021-wrapper13">
            <div class="octoober-202115">0</div>
          </div>
          <div class="date-value-child45"></div>
        </div>
        <div class="heading5">
          <div class="heading-child6"></div>
          <div class="laporan-tertunda-wrapper">
            <div class="laporan-tertunda">
              <span class="laporan-tertunda-txt-container">
                <p class="laporan">Laporan</p>
                <p class="tertunda1">Tertunda</p>
              </span>
            </div>
          </div>
          <div class="heading-child7"></div>
        </div>
        <img
          class="action-value-icon"
          loading="lazy"
          alt=""
          src="./public/action-value@2x.png"
        />

        <img
          class="action-value-icon1"
          loading="lazy"
          alt=""
          src="./public/action-value@2x.png"
        />

        <img
          class="action-value-icon2"
          loading="lazy"
          alt=""
          src="./public/action-value@2x.png"
        />

        <img
          class="action-value-icon3"
          loading="lazy"
          alt=""
          src="./public/action-value@2x.png"
        />

        <img
          class="action-value-icon4"
          loading="lazy"
          alt=""
          src="./public/action-value@2x.png"
        />

        <img
          class="action-value-icon5"
          loading="lazy"
          alt=""
          src="./public/action-value@2x.png"
        />

        <img
          class="action-value-icon6"
          loading="lazy"
          alt=""
          src="./public/action-value@2x.png"
        />

        <img
          class="action-value-icon7"
          loading="lazy"
          alt=""
          src="./public/action-value@2x.png"
        />

        <div class="rectangle-parent">
          <div class="instance-child"></div>
          <div class="status-wrapper">
            <div class="status">Status</div>
          </div>
          <div class="instance-item"></div>
        </div>
        <div class="status-value">
          <div class="status-value-child"></div>
          <div class="status-valuedanger-wrapper">
            <div class="status-valuedanger">
              <div class="danger">Buka</div>
            </div>
          </div>
          <div class="status-value-item"></div>
        </div>
        <div class="status-value1">
          <div class="status-value-inner"></div>
          <div class="status-valuedanger-container">
            <div class="status-valuedanger1">
              <div class="danger1">Buka</div>
            </div>
          </div>
          <div class="status-value-child1"></div>
        </div>
        <div class="status-value2">
          <div class="status-value-child2"></div>
          <div class="status-valuedanger-frame">
            <div class="status-valuedanger2">
              <div class="danger2">Buka</div>
            </div>
          </div>
          <div class="status-value-child3"></div>
        </div>
        <div class="status-value3">
          <div class="status-value-child4"></div>
          <div class="status-valuedanger-wrapper1">
            <div class="status-valuedanger3">
              <div class="danger3">Buka</div>
            </div>
          </div>
          <div class="status-value-child5"></div>
        </div>
        <div class="status-value4">
          <div class="status-value-child6"></div>
          <div class="status-valuedanger-wrapper2">
            <div class="status-valuedanger4">
              <div class="danger4">Tutup</div>
            </div>
          </div>
          <div class="status-value-child7"></div>
        </div>
        <div class="status-value5">
          <div class="status-value-child8"></div>
          <div class="status-valuedanger-wrapper3">
            <div class="status-valuedanger5">
              <div class="danger5">Tutup</div>
            </div>
          </div>
          <div class="status-value-child9"></div>
        </div>
        <div class="status-value6">
          <div class="status-value-child10"></div>
          <div class="status-value-child11"></div>
          <div class="status-valuedanger6">
            <div class="danger6">Danger</div>
          </div>
        </div>
        <div class="status-value7">
          <div class="status-value-child12"></div>
          <div class="status-valuedanger-wrapper4">
            <div class="status-valuedanger7">
              <div class="danger7">Tutup</div>
            </div>
          </div>
          <div class="status-value-child13"></div>
        </div>
        <div class="status-value8">
          <div class="status-value-child14"></div>
          <div class="status-valuedanger-wrapper5">
            <div class="status-valuedanger8">
              <div class="danger8">Tutup</div>
            </div>
          </div>
          <div class="status-value-child15"></div>
        </div>
        <div class="heading6">
          <div class="heading-child8"></div>
          <div class="informasi-lapak-wrapper">
            <div class="informasi-lapak">Informasi Lapak</div>
          </div>
          <div class="heading-child9"></div>
        </div>
        <img
          class="action-value-icon8"
          loading="lazy"
          alt=""
          src="./public/action-value-8@2x.png"
        />

        <img
          class="action-value-icon9"
          loading="lazy"
          alt=""
          src="./public/action-value-8@2x.png"
        />

        <img
          class="action-value-icon10"
          loading="lazy"
          alt=""
          src="./public/action-value-8@2x.png"
        />

        <img
          class="action-value-icon11"
          loading="lazy"
          alt=""
          src="./public/action-value-8@2x.png"
        />

        <img
          class="action-value-icon12"
          loading="lazy"
          alt=""
          src="./public/action-value-8@2x.png"
        />

        <img
          class="action-value-icon13"
          loading="lazy"
          alt=""
          src="./public/action-value-8@2x.png"
        />

        <img
          class="action-value-icon14"
          loading="lazy"
          alt=""
          src="./public/action-value-8@2x.png"
        />

        <img
          class="action-value-icon15"
          loading="lazy"
          alt=""
          src="./public/action-value-8@2x.png"
        />

        <div class="tabel-footer">
          <div class="footer-button-parent">
            <div class="footer-button"></div>
            <div class="frame-child1"></div>
            <div class="navigation-controls"></div>
            <div class="navigation-controls1"></div>
            <div class="navigation-controls2">
              <div class="navigation-buttons"></div>
              <div class="navigation-chevron">
                <div class="chevron-right">1</div>
              </div>
            </div>
            <div class="showing-1-to">Showing 1 to 10 of 50 entries</div>
            <div class="display">Display</div>
            <div class="div7">10</div>
            <div class="navigation-controls3">
              <div class="navigation-controls-child"></div>
              <div class="div8">2</div>
            </div>
            <div class="navigation-controls4">
              <div class="navigation-controls-item"></div>
              <div class="div9">3</div>
            </div>
            <div class="navigation-controls5">
              <div class="navigation-controls-inner"></div>
              <div class="div10">4</div>
            </div>
            <img
              class="chevron-right-icon"
              loading="lazy"
              alt=""
              src="./public/chevronright.svg"
            />

            <img
              class="chevron-right-icon1"
              loading="lazy"
              alt=""
              src="./public/chevronright-1.svg"
            />
          </div>
          <img class="tabel-footer-child" alt="" src="./public/group-203.svg" />

          <div class="footer-separator"></div>
        </div>
        <div class="h4-heading2">All (8)</div>
        <div class="footer-spacing"></div>
        <div class="footer-content">
          <div class="footer-content-child"></div>
          <div class="content-heading">
            <h3 class="h4-heading3">Daftar Lapak Terverifikasi</h3>
          </div>
          <div class="textbox">
            <div class="input-background"></div>
            <div class="input-component-parent">
              <div class="input-component">
                <img
                  class="component-1-icon6"
                  alt=""
                  src="./public/component-1@2x.png"
                />
              </div>
              <input class="search" placeholder="Search..." type="text" />
            </div>
          </div>
        </div>
        <div class="menu">
          <div class="menu-child"></div>
          <div class="menu-separator"></div>
          <div class="menu-multi7">
            <div class="dashboard-icon"></div>
            <div class="dashboard7">Dashboard</div>
          </div>
          <div class="menu-multi8" id="menuMultiContainer1">
            <div class="menu-icons"></div>
            <div class="component-1-parent4">
              <img
                class="component-1-icon7"
                alt=""
                src="./public/component-1@2x.png"
              />

              <div class="dashboard8">Pengajuan Lapak</div>
            </div>
          </div>
          <button class="menu-multi9">
            <div class="menu-multi-child2"></div>
            <div class="component-1-parent5">
              <img
                class="component-1-icon8"
                alt=""
                src="./public/component-1-1.svg"
              />

              <div class="dashboard9">Lapak Terverifikasi</div>
            </div>
          </button>
          <div class="menu-multi10" id="menuMultiContainer2">
            <div class="menu-multi-child3"></div>
            <div class="component-1-parent6">
              <img
                class="component-1-icon9"
                loading="lazy"
                alt=""
                src="./public/component-1-1.svg"
              />

              <div class="dashboard10">Lapak Terblokir</div>
            </div>
          </div>
          <div class="menu-multi11" id="menuMultiContainer3">
            <div class="menu-multi-child4"></div>
            <div class="component-1-parent7">
              <img
                class="component-1-icon10"
                alt=""
                src="./public/component-1-3@2x.png"
              />

              <div class="dashboard11">Pembaruan Lapak</div>
            </div>
          </div>
          <div class="menu-multi12" id="menuMultiContainer4">
            <div class="menu-multi-child5"></div>
            <div class="component-1-parent8">
              <img
                class="component-1-icon11"
                alt=""
                src="./public/component-1-3@2x.png"
              />

              <div class="dashboard12">Pusat Bantuan</div>
            </div>
          </div>
          <div class="menu-multi13" id="menuMultiContainer5">
            <div class="menu-multi-child6"></div>
            <div class="component-1-parent9">
              <img
                class="component-1-icon12"
                alt=""
                src="./public/component-1-6@2x.png"
              />

              <div class="dashboard13">Keluar</div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script>
      var menuMultiContainer1 = document.getElementById("menuMultiContainer1");
      if (menuMultiContainer1) {
        menuMultiContainer1.addEventListener("click", function (e) {
          // Please sync "Pengajuan lapak" to the project
        });
      }
      
      var menuMultiContainer2 = document.getElementById("menuMultiContainer2");
      if (menuMultiContainer2) {
        menuMultiContainer2.addEventListener("click", function (e) {
          // Please sync "Lapak Terblokir" to the project
        });
      }
      
      var menuMultiContainer3 = document.getElementById("menuMultiContainer3");
      if (menuMultiContainer3) {
        menuMultiContainer3.addEventListener("click", function (e) {
          // Please sync "Pengajuan perubahan lapak" to the project
        });
      }
      
      var menuMultiContainer4 = document.getElementById("menuMultiContainer4");
      if (menuMultiContainer4) {
        menuMultiContainer4.addEventListener("click", function (e) {
          // Please sync "Pusat bantuan" to the project
        });
      }
      
      var menuMultiContainer5 = document.getElementById("menuMultiContainer5");
      if (menuMultiContainer5) {
        menuMultiContainer5.addEventListener("click", function (e) {
          // Please sync "login 1" to the project
        });
      }
      </script>
  </body>
</html>
