<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/admin-bantuan.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
    />
  </head>
  <body>
    <div class="pengajuan-bantuan-2">
      <main class="admin-panel">
        <header class="header">
          <div class="header-child"></div>
          <div class="h4-heading-wrapper">
            <div class="h4-heading">Informasi Pengajuan Bantuan</div>
          </div>
          <div class="vector-parent">
            <img
              class="frame-child"
              loading="lazy"
              alt=""
              src="./public/rectangle-443.svg"
              id="rectangle"
            />

            <div class="kembali">Kembali</div>
          </div>
        </header>
        <div class="september-9-2013">September 9, 2013</div>
        <div class="h4-heading1">Leo</div>
        <img
          class="admin-panel-child"
          loading="lazy"
          alt=""
          src="./public/line-15.svg"
        />

        <img
          class="admin-panel-item"
          loading="lazy"
          alt=""
          src="./public/line-8.svg"
        />

        <div class="vector-group">
          <img class="frame-item" alt="" src="./public/rectangle-442.svg" />

          <div class="kami-meminta-maaf-container">
            <span>
              <p class="kami-meminta-maaf">
                Kami meminta maaf atas ketidaknyamanan
              </p>
              <p class="anda-terkait-bug">
                anda terkait bug yang terjadi. Kami akan
              </p>
              <p class="segera-memperbaikinya-terimak">
                segera memperbaikinya. Terimakasih
              </p>
            </span>
          </div>
        </div>
        <img
          class="admin-panel-inner"
          loading="lazy"
          alt=""
          src="./public/line-7.svg"
        />

        <div class="keterangan-pengajuan-bantuan">
          Keterangan Pengajuan Bantuan
        </div>
        <div class="vector-container" id="groupContainer1">
          <img class="frame-inner" alt="" src="./public/rectangle-4431.svg" />

          <div class="kirim">Kirim</div>
        </div>
        <img
          class="line-icon"
          loading="lazy"
          alt=""
          src="./public/line-8.svg"
        />

        <div class="group-div">
          <img
            class="rectangle-icon"
            alt=""
            src="./public/rectangle-4432.svg"
          />

          <img
            class="image-4-icon"
            loading="lazy"
            alt=""
            src="./public/image-4@2x.png"
          />
        </div>
        <div class="terjadi-bug-saat">Terjadi bug saat aplikasi dijalankan</div>
        <div class="keterangan">Keterangan</div>
        <img
          class="admin-panel-child1"
          loading="lazy"
          alt=""
          src="./public/line-7.svg"
        />

        <div class="keterangan-pengajuan-bantuan1">
          Keterangan Pengajuan Bantuan
        </div>
        <div class="navigation-menu">
          <div class="navigation-menu-child"></div>
          <div class="menu-background"></div>
          <div class="menu-multi">
            <div class="instance-shape"></div>
            <div class="dashboard">Dashboard</div>
          </div>
          <div class="menu-multi1">
            <div class="menu-item-shapes"></div>
            <div class="component-1-parent">
              <img
                class="component-1-icon"
                alt=""
                src="./public/component-1@2x.png"
              />

              <div class="dashboard1">Pengajuan Lapak</div>
            </div>
          </div>
          <div class="menu-multi2">
            <div class="menu-multi-child"></div>
            <div class="component-1-group">
              <img
                class="component-1-icon1"
                loading="lazy"
                alt=""
                src="./public/component-1-1.svg"
              />

              <div class="dashboard2">Lapak Terverifikasi</div>
            </div>
          </div>
          <div class="menu-multi3">
            <div class="menu-multi-item"></div>
            <div class="component-1-container">
              <img
                class="component-1-icon2"
                loading="lazy"
                alt=""
                src="./public/component-1-1.svg"
              />

              <div class="dashboard3">Lapak Terblokir</div>
            </div>
          </div>
          <div class="menu-multi4">
            <div class="menu-multi-inner"></div>
            <div class="component-1-parent1">
              <img
                class="component-1-icon3"
                loading="lazy"
                alt=""
                src="./public/component-1-3@2x.png"
              />

              <div class="dashboard4">Pembaruan Lapak</div>
            </div>
          </div>
          <div class="menu-multi5">
            <div class="rectangle-div"></div>
            <div class="component-1-parent2">
              <img
                class="component-1-icon4"
                alt=""
                src="./public/component-1-3@2x.png"
              />

              <div class="dashboard5">Pusat Bantuan</div>
            </div>
          </div>
          <div class="menu-multi6">
            <div class="menu-multi-child1"></div>
            <div class="component-1-parent3">
              <img
                class="component-1-icon5"
                loading="lazy"
                alt=""
                src="./public/component-1-5@2x.png"
              />

              <div class="dashboard6">Keluar</div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script>
      var rectangle = document.getElementById("rectangle");
      if (rectangle) {
        rectangle.addEventListener("click", function (e) {
          // Please sync "Pusat bantuan" to the project
        });
      }
      
      var groupContainer1 = document.getElementById("groupContainer1");
      if (groupContainer1) {
        groupContainer1.addEventListener("click", function (e) {
          // Please sync "Pusat bantuan" to the project
        });
      }
      </script>
  </body>
</html>
