<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/admin-pengajuan.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="pengajuan-lapak-search-1">
      <main class="admin-panel3">
        <div class="heading">
          <div class="actionvalue-component"></div>
          <div class="heading-inner">
            <div class="danger-heading-parent">
              <div class="danger-heading">
                <div class="title">Nama Lapak</div>
              </div>
              <img class="frame-child34" alt="" src="./public/group-206.svg" />
            </div>
          </div>
          <div class="heading-child"></div>
        </div>
        <div class="title-value">
          <div class="title-value-child"></div>
          <div class="test-title-wrapper">
            <div class="test-title">Cendol Bogo</div>
          </div>
          <div class="title-value-item"></div>
        </div>
        <div class="title-value1">
          <div class="title-value-inner"></div>
          <div class="test-title-container">
            <div class="test-title1">Masakan Padang Cicendo</div>
          </div>
          <div class="title-value-child1"></div>
        </div>
        <div class="title-value2">
          <div class="title-value-child2"></div>
          <div class="test-title-frame">
            <div class="test-title2">RM. Seafood Santosa</div>
          </div>
          <div class="title-value-child3"></div>
        </div>
        <div class="title-value3">
          <div class="title-value-child4"></div>
          <div class="test-title-wrapper1">
            <div class="test-title3">Rumah Makan Padang Selera</div>
          </div>
          <div class="title-value-child5"></div>
        </div>
        <div class="title-value4">
          <div class="title-value-child6"></div>
          <div class="enter-title-wrapper">
            <div class="enter-title">Teman Lama</div>
          </div>
          <div class="title-value-child7"></div>
        </div>
        <div class="title-value5">
          <div class="title-value-child8"></div>
          <div class="test-title-wrapper2">
            <div class="test-title4">Teman Lama Pasteur</div>
          </div>
          <div class="title-value-child9"></div>
        </div>
        <div class="title-value6">
          <div class="title-value-child10"></div>
          <div class="test-title-wrapper3">
            <div class="test-title5">Warung Nasi Berkah</div>
          </div>
          <div class="title-value-child11"></div>
        </div>
        <div class="title-value7">
          <div class="title-value-child12"></div>
          <div class="test-title-wrapper4">
            <div class="test-title6">Warung Tegal</div>
          </div>
          <div class="title-value-child13"></div>
        </div>
        <div class="tanggal-penajuan">
          <div class="heading1">
            <div class="showing-entry-number"></div>
            <div class="chevron-right-icon">
              <div class="date">Tanggal Pengajuan</div>
            </div>
            <div class="heading-item"></div>
          </div>
          <div class="date-value">
            <div class="date-value-child"></div>
            <div class="octoober-2021-wrapper">
              <div class="octoober-2021">May 20, 2015</div>
            </div>
            <div class="date-value-item"></div>
          </div>
          <div class="date-value1">
            <div class="date-value-inner"></div>
            <div class="octoober-2021-container">
              <div class="octoober-20211">September 24, 2017</div>
            </div>
            <div class="line-div"></div>
          </div>
          <div class="date-value2">
            <div class="date-value-child1"></div>
            <div class="octoober-2021-frame">
              <div class="octoober-20212">December 29, 2012</div>
            </div>
            <div class="date-value-child2"></div>
          </div>
          <div class="date-value3">
            <div class="date-value-child3"></div>
            <div class="octoober-2021-wrapper1">
              <div class="octoober-20213">August 2, 2013</div>
            </div>
            <div class="date-value-child4"></div>
          </div>
          <div class="date-value4">
            <div class="date-value-child5"></div>
            <div class="octoober-2021-wrapper2">
              <div class="octoober-20214">September 9, 2013</div>
            </div>
            <div class="date-value-child6"></div>
          </div>
          <div class="date-value5">
            <div class="date-value-child7"></div>
            <div class="octoober-2021-wrapper3">
              <div class="octoober-20215">October 24, 2018</div>
            </div>
            <div class="date-value-child8"></div>
          </div>
          <div class="date-value6">
            <div class="date-value-child9"></div>
            <div class="octoober-2021-wrapper4">
              <div class="octoober-20216">May 31, 2015</div>
            </div>
            <div class="date-value-child10"></div>
          </div>
          <div class="date-value7">
            <div class="date-value-child11"></div>
            <div class="octoober-2021-wrapper5">
              <div class="octoober-20217">February 29, 2012</div>
            </div>
            <div class="date-value-child12"></div>
          </div>
        </div>
        <div class="heading2">
          <div class="heading-child1"></div>
          <input class="frame-input" placeholder="Alamat" type="text" />

          <div class="heading-child2"></div>
          <img class="heading-child3" alt="" src="./public/group-2061.svg" />
        </div>
        <div class="title-value8">
          <div class="title-value-child14"></div>
          <input
            class="title-value-child15"
            placeholder="Jl. Bogo No.20, Burangrang, Kec. Lengkong, Kota Bandung"
            type="text"
          />

          <div class="title-value-child16"></div>
        </div>
        <div class="title-value9">
          <div class="title-value-child17"></div>
          <div class="test-title-wrapper5">
            <div class="test-title7">
              Jl. Cendana No.10, Cihapit, Kec. Bandung Wetan, Kota Bandung, Jawa
              Barat
            </div>
          </div>
          <div class="title-value-child18"></div>
        </div>
        <div class="title-value10">
          <div class="title-value-child19"></div>
          <div class="test-title-wrapper6">
            <div class="test-title8">
              Jl. Aruna No.30, Arjuna, Kec. Cicendo, Kota Bandung
            </div>
          </div>
          <div class="title-value-child20"></div>
        </div>
        <div class="title-value11">
          <div class="title-value-child21"></div>
          <div class="test-title-wrapper7">
            <div class="test-title9">
              Jl. Bima No.22, Arjuna, Kec. Cicendo, Kota Bandung
            </div>
          </div>
          <div class="title-value-child22"></div>
        </div>
        <div class="title-value12">
          <div class="title-value-child23"></div>
          <div class="test-title-wrapper8">
            <div class="test-title10">
              Jl. Bima No.60, Arjuna, Kec. Cicendo, Kota Bandung
            </div>
          </div>
          <div class="title-value-child24"></div>
        </div>
        <div class="title-value13">
          <div class="title-value-child25"></div>
          <div class="test-title-wrapper9">
            <div class="test-title11">
              Jl. Dr. Djunjunan No.143-149, Pajajaran, Kec. Cicendo, Kota
              Bandung
            </div>
          </div>
          <div class="title-value-child26"></div>
        </div>
        <div class="title-value14">
          <div class="title-value-child27"></div>
          <div class="test-title-wrapper10">
            <div class="test-title12">
              Jl. Bima No.32, Arjuna, Kec. Cicendo, Kota Bandung
            </div>
          </div>
          <div class="title-value-child28"></div>
        </div>
        <div class="title-value15">
          <div class="title-value-child29"></div>
          <div class="test-title-wrapper11">
            <div class="test-title13">
              Jl. Bima No.89, Arjuna, Kec. Cicendo, Kota Bandung
            </div>
          </div>
          <div class="title-value-child30"></div>
        </div>
        <div class="rectangle-container">
          <div class="instance-child"></div>
          <div class="status-wrapper">
            <div class="status">Status</div>
          </div>
          <div class="instance-item"></div>
        </div>
        <div class="status-value">
          <div class="status-value-child"></div>
          <div class="status-valuedanger-wrapper">
            <div class="status-valuedanger2">
              <div class="danger2">Menunggu</div>
            </div>
          </div>
          <div class="status-value-item"></div>
        </div>
        <div class="status-value1">
          <div class="status-value-inner"></div>
          <div class="status-valuedanger-container">
            <div class="status-valuedanger3">
              <div class="danger3">Menunggu</div>
            </div>
          </div>
          <div class="status-value-child1"></div>
        </div>
        <div class="status-value2">
          <div class="status-value-child2"></div>
          <div class="status-valuedanger-frame">
            <div class="status-valuedanger4">
              <div class="danger4">Menunggu</div>
            </div>
          </div>
          <div class="status-value-child3"></div>
        </div>
        <div class="status-value3">
          <div class="status-value-child4"></div>
          <div class="status-valuedanger-wrapper1">
            <div class="status-valuedanger5">
              <div class="danger5">Menunggu</div>
            </div>
          </div>
          <div class="status-value-child5"></div>
        </div>
        <div class="status-value4">
          <div class="status-value-child6"></div>
          <div class="status-valuedanger-wrapper2">
            <div class="status-valuedanger6">
              <div class="danger6">Menunggu</div>
            </div>
          </div>
          <div class="status-value-child7"></div>
        </div>
        <div class="status-value5">
          <div class="status-value-child8"></div>
          <div class="status-valuedanger-wrapper3">
            <div class="status-valuedanger7">
              <div class="danger7">Menunggu</div>
            </div>
          </div>
          <div class="status-value-child9"></div>
        </div>
        <div class="status-value6">
          <div class="status-value-child10"></div>
          <div class="status-value-child11"></div>
          <div class="status-valuedanger8">
            <div class="danger8">Danger</div>
          </div>
        </div>
        <div class="status-value7">
          <div class="status-value-child12"></div>
          <div class="status-valuedanger-wrapper4">
            <div class="status-valuedanger9">
              <div class="danger9">Menunggu</div>
            </div>
          </div>
          <div class="status-value-child13"></div>
        </div>
        <div class="status-value8">
          <div class="status-value-child14"></div>
          <div class="status-valuedanger-wrapper5">
            <div class="status-valuedanger10">
              <div class="danger10">Menunggu</div>
            </div>
          </div>
          <div class="status-value-child15"></div>
        </div>
        <div class="heading3">
          <div class="heading-child4"></div>
          <div class="informasi-lapak-wrapper">
            <div class="informasi-lapak">
              <span class="informasi-lapak-txt-container">
                <p class="informasi">Informasi</p>
                <p class="lapak">Lapak</p>
              </span>
            </div>
          </div>
          <div class="heading-child5"></div>
        </div>
        <img
          class="action-value-icon"
          loading="lazy"
          alt=""
          src="./public/action-value@2x.png"
        />

        <img
          class="action-value-icon1"
          loading="lazy"
          alt=""
          src="./public/action-value@2x.png"
        />

        <img
          class="action-value-icon2"
          loading="lazy"
          alt=""
          src="./public/action-value@2x.png"
        />

        <img
          class="action-value-icon3"
          loading="lazy"
          alt=""
          src="./public/action-value@2x.png"
        />

        <img
          class="action-value-icon4"
          loading="lazy"
          alt=""
          src="./public/action-value@2x.png"
        />

        <img
          class="action-value-icon5"
          loading="lazy"
          alt=""
          src="./public/action-value@2x.png"
        />

        <img
          class="action-value-icon6"
          loading="lazy"
          alt=""
          src="./public/action-value@2x.png"
        />

        <img
          class="action-value-icon7"
          loading="lazy"
          alt=""
          src="./public/action-value@2x.png"
        />

        <footer class="tabel-footer">
          <div class="search-icon-parent">
            <div class="search-icon"></div>
            <div class="frame-child35"></div>
            <div class="frame-child36"></div>
            <div class="date-label">
              <div class="showing-1-to">Showing 1 to 10 of 50 entries</div>
            </div>
            <div class="display">Display</div>
            <div class="div19">10</div>
            <div class="showing-entry-range">
              <div class="menu-multi-component1"></div>
              <div class="rectangle-parent1">
                <div class="frame-child37"></div>
                <div class="empty-space-divider">
                  <div class="div20">1</div>
                </div>
              </div>
              <div class="rectangle-parent2">
                <div class="frame-child38"></div>
                <div class="div21">2</div>
              </div>
              <div class="rectangle-parent3">
                <div class="frame-child39"></div>
                <div class="div22">3</div>
              </div>
              <div class="rectangle-parent4">
                <div class="frame-child40"></div>
                <div class="div23">4</div>
              </div>
            </div>
            <img
              class="chevron-right-icon1"
              loading="lazy"
              alt=""
              src="./public/chevronright.svg"
            />

            <div class="parent-menu-multi">
              <img
                class="chevron-right-icon2"
                loading="lazy"
                alt=""
                src="./public/chevronright-1.svg"
              />
            </div>
          </div>
          <img class="tabel-footer-child" alt="" src="./public/group-203.svg" />

          <div class="search-box-background"></div>
        </footer>
        <img
          class="component-2-icon"
          loading="lazy"
          alt=""
          src="./public/component-2@2x.png"
        />

        <img
          class="component-3-icon"
          loading="lazy"
          alt=""
          src="./public/component-2@2x.png"
        />

        <div class="rectangle-parent5">
          <div class="frame-child41"></div>
          <div class="component-instance">
            <h3 class="h4-heading6">Daftar Pengajuan Lapak</h3>
          </div>
          <div class="textbox">
            <div class="textbox-child"></div>
            <div class="frame-parent19">
              <div class="component-1-wrapper">
                <img
                  class="component-1-icon18"
                  alt=""
                  src="./public/component-1@2x.png"
                />
              </div>
              <div class="search">teman</div>
            </div>
          </div>
        </div>
        <div class="h4-heading7">All (8)</div>
        <img class="component-4-icon" loading="lazy" alt="" />

        <div class="admin-panel-child26"></div>
        <div class="rectangle-parent6">
          <div class="frame-child42"></div>
          <div class="frame-child43"></div>
          <div class="menu-multi21">
            <div class="dashboard-label"></div>
            <div class="dashboard21">Dashboard</div>
          </div>
          <button class="menu-multi22">
            <div class="menu-multi-items"></div>
            <div class="component-1-parent15">
              <img
                class="component-1-icon19"
                alt=""
                src="./public/component-1@2x.png"
              />

              <div class="dashboard22">Pengajuan Lapak</div>
            </div>
          </button>
          <div class="menu-multi23" id="menuMultiContainer1">
            <div class="menu-multi-child17"></div>
            <div class="component-1-parent16">
              <img
                class="component-1-icon20"
                loading="lazy"
                alt=""
                src="./public/component-1-1.svg"
              />

              <div class="dashboard23">Lapak Terverifikasi</div>
            </div>
          </div>
          <div class="menu-multi24" id="menuMultiContainer2">
            <div class="menu-multi-child18"></div>
            <div class="component-1-parent17">
              <img
                class="component-1-icon21"
                loading="lazy"
                alt=""
                src="./public/component-1-1.svg"
              />

              <div class="dashboard24">Lapak Terblokir</div>
            </div>
          </div>
          <div class="menu-multi25" id="menuMultiContainer3">
            <div class="menu-multi-child19"></div>
            <div class="component-1-parent18">
              <img
                class="component-1-icon22"
                loading="lazy"
                alt=""
                src="./public/component-1-3@2x.png"
              />

              <div class="dashboard25">Pembaruan Lapak</div>
            </div>
          </div>
          <div class="menu-multi26" id="menuMultiContainer4">
            <div class="menu-multi-child20"></div>
            <div class="component-1-parent19">
              <img
                class="component-1-icon23"
                loading="lazy"
                alt=""
                src="./public/component-1-3@2x.png"
              />

              <div class="dashboard26">Pusat Bantuan</div>
            </div>
          </div>
          <div class="menu-multi27" id="menuMultiContainer5">
            <div class="menu-multi-child21"></div>
            <div class="component-1-parent20">
              <img
                class="component-1-icon24"
                loading="lazy"
                alt=""
                src="./public/component-1-6@2x.png"
              />

              <div class="dashboard27">Keluar</div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script>
      var menuMultiContainer1 = document.getElementById("menuMultiContainer1");
      if (menuMultiContainer1) {
        menuMultiContainer1.addEventListener("click", function (e) {
          // Please sync "List lapak" to the project
        });
      }
      
      var menuMultiContainer2 = document.getElementById("menuMultiContainer2");
      if (menuMultiContainer2) {
        menuMultiContainer2.addEventListener("click", function (e) {
          // Please sync "Lapak Terblokir" to the project
        });
      }
      
      var menuMultiContainer3 = document.getElementById("menuMultiContainer3");
      if (menuMultiContainer3) {
        menuMultiContainer3.addEventListener("click", function (e) {
          // Please sync "Pengajuan perubahan lapak" to the project
        });
      }
      
      var menuMultiContainer4 = document.getElementById("menuMultiContainer4");
      if (menuMultiContainer4) {
        menuMultiContainer4.addEventListener("click", function (e) {
          // Please sync "Pusat bantuan" to the project
        });
      }
      
      var menuMultiContainer5 = document.getElementById("menuMultiContainer5");
      if (menuMultiContainer5) {
        menuMultiContainer5.addEventListener("click", function (e) {
          window.location.href = "./login.html";
        });
      }
      </script>
  </body>
</html>
