<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/admin-lapak_terblokir.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
    />
  </head>
  <body>
    <div class="lapak-terblokir">
      <main class="admin-panel2">
        <div class="heading7">
          <div class="status-action-items"></div>
          <div class="title-status-values-wrapper">
            <div class="title-status-values">
              <div class="title-container">
                <div class="title2">Nama Lapak</div>
              </div>
              <img
                class="title-status-values-child"
                alt=""
                src="./public/group-206.svg"
              />
            </div>
          </div>
          <div class="heading-child10"></div>
        </div>
        <div class="title-value16">
          <div class="title-value-child30"></div>
          <div class="enter-title-container">
            <div class="enter-title1">Teman Lama</div>
          </div>
          <div class="title-value-child31"></div>
        </div>
        <div class="title-value17">
          <div class="title-value-child32"></div>
          <div class="test-title-wrapper12">
            <div class="test-title15">Rumah Makan Padang Selera</div>
          </div>
          <div class="title-value-child33"></div>
        </div>
        <div class="title-value18">
          <div class="title-value-child34"></div>
          <div class="test-title-wrapper13">
            <div class="test-title16">Masakan Padang Cicendo</div>
          </div>
          <div class="title-value-child35"></div>
        </div>
        <div class="title-value19">
          <div class="title-value-child36"></div>
          <div class="test-title-wrapper14">
            <div class="test-title17">RM. Seafood Santosa</div>
          </div>
          <div class="title-value-child37"></div>
        </div>
        <div class="title-value20">
          <div class="title-value-child38"></div>
          <div class="test-title-wrapper15">
            <div class="test-title18">Cendol Bogo</div>
          </div>
          <div class="title-value-child39"></div>
        </div>
        <div class="title-value21">
          <div class="title-value-child40"></div>
          <div class="test-title-wrapper16">
            <div class="test-title19">Warung Nasi Berkah</div>
          </div>
          <div class="title-value-child41"></div>
        </div>
        <div class="title-value22">
          <div class="title-value-child42"></div>
          <div class="test-title-wrapper17">
            <div class="test-title20">Warung Tegal</div>
          </div>
          <div class="title-value-child43"></div>
        </div>
        <div class="title-value23">
          <div class="title-value-child44"></div>
          <div class="test-title-wrapper18">
            <div class="test-title21">Teman Lama Pasteur</div>
          </div>
          <div class="title-value-child45"></div>
        </div>
        <div class="tanggal-penajuan">
          <div class="heading8">
            <div class="date-items"></div>
            <div class="date-wrapper">
              <div class="date">Tanggal Blokir</div>
            </div>
            <div class="heading-child11"></div>
          </div>
          <div class="date-value24">
            <div class="date-value-child46"></div>
            <div class="octoober-2021-wrapper14">
              <div class="octoober-202116">September 9, 2013</div>
            </div>
            <div class="date-value-child47"></div>
          </div>
          <div class="date-value25">
            <div class="date-value-child48"></div>
            <div class="octoober-2021-wrapper15">
              <div class="octoober-202117">August 2, 2013</div>
            </div>
            <div class="date-value-child49"></div>
          </div>
          <div class="date-value26">
            <div class="date-value-child50"></div>
            <div class="octoober-2021-wrapper16">
              <div class="octoober-202118">September 24, 2017</div>
            </div>
            <div class="date-value-child51"></div>
          </div>
          <div class="date-value27">
            <div class="date-value-child52"></div>
            <div class="octoober-2021-wrapper17">
              <div class="octoober-202119">December 29, 2012</div>
            </div>
            <div class="date-value-child53"></div>
          </div>
          <div class="date-value28">
            <div class="date-value-child54"></div>
            <div class="octoober-2021-wrapper18">
              <div class="octoober-202120">May 20, 2015</div>
            </div>
            <div class="date-value-child55"></div>
          </div>
          <div class="date-value29">
            <div class="date-value-child56"></div>
            <div class="octoober-2021-wrapper19">
              <div class="octoober-202121">May 31, 2015</div>
            </div>
            <div class="date-value-child57"></div>
          </div>
          <div class="date-value30">
            <div class="date-value-child58"></div>
            <div class="octoober-2021-wrapper20">
              <div class="octoober-202122">February 29, 2012</div>
            </div>
            <div class="date-value-child59"></div>
          </div>
          <div class="date-value31">
            <div class="date-value-child60"></div>
            <div class="octoober-2021-wrapper21">
              <div class="octoober-202123">October 24, 2018</div>
            </div>
            <div class="date-value-child61"></div>
          </div>
        </div>
        <div class="heading9">
          <div class="heading-child12"></div>
          <div class="title-frame">
            <div class="title3">Alamat</div>
          </div>
          <div class="heading-child13"></div>
          <img class="heading-child14" alt="" src="./public/group-2061.svg" />
        </div>
        <div class="title-value24">
          <div class="title-value-child46"></div>
          <div class="test-title-wrapper19">
            <div class="test-title22">
              Jl. Bima No.60, Arjuna, Kec. Cicendo, Kota Bandung
            </div>
          </div>
          <div class="title-value-child47"></div>
        </div>
        <div class="title-value25">
          <div class="title-value-child48"></div>
          <div class="test-title-wrapper20">
            <div class="test-title23">
              Jl. Bima No.22, Arjuna, Kec. Cicendo, Kota Bandung
            </div>
          </div>
          <div class="title-value-child49"></div>
        </div>
        <div class="title-value26">
          <div class="title-value-child50"></div>
          <div class="test-title-wrapper21">
            <div class="test-title24">
              Jl. Cendana No.10, Cihapit, Kec. Bandung Wetan, Kota Bandung, Jawa
              Barat
            </div>
          </div>
          <div class="title-value-child51"></div>
        </div>
        <div class="title-value27">
          <div class="title-value-child52"></div>
          <div class="test-title-wrapper22">
            <div class="test-title25">
              Jl. Aruna No.30, Arjuna, Kec. Cicendo, Kota Bandung
            </div>
          </div>
          <div class="title-value-child53"></div>
        </div>
        <div class="title-value28">
          <div class="title-value-child54"></div>
          <div class="test-title-wrapper23">
            <div class="test-title26">
              Jl. Bogo No.20, Burangrang, Kec. Lengkong, Kota Bandung
            </div>
          </div>
          <div class="title-value-child55"></div>
        </div>
        <div class="title-value29">
          <div class="title-value-child56"></div>
          <div class="test-title-wrapper24">
            <div class="test-title27">
              Jl. Bima No.32, Arjuna, Kec. Cicendo, Kota Bandung
            </div>
          </div>
          <div class="title-value-child57"></div>
        </div>
        <div class="title-value30">
          <div class="title-value-child58"></div>
          <div class="test-title-wrapper25">
            <div class="test-title28">
              Jl. Bima No.89, Arjuna, Kec. Cicendo, Kota Bandung
            </div>
          </div>
          <div class="title-value-child59"></div>
        </div>
        <div class="title-value31">
          <div class="title-value-child60"></div>
          <div class="test-title-wrapper26">
            <div class="test-title29">
              Jl. Dr. Djunjunan No.143-149, Pajajaran, Kec. Cicendo, Kota
              Bandung
            </div>
          </div>
          <div class="title-value-child61"></div>
        </div>
        <div class="rectangle-group">
          <div class="instance-inner"></div>
          <div class="status-container">
            <div class="status1">Status</div>
          </div>
          <div class="instance-child1"></div>
        </div>
        <div class="status-value9">
          <div class="status-value-child16"></div>
          <div class="status-valuedanger-wrapper6">
            <div class="status-valuedanger9">
              <div class="danger9">Terblokir</div>
            </div>
          </div>
          <div class="status-value-child17"></div>
        </div>
        <div class="status-value10">
          <div class="status-value-child18"></div>
          <div class="status-valuedanger-wrapper7">
            <div class="status-valuedanger10">
              <div class="danger10">Terblokir</div>
            </div>
          </div>
          <div class="status-value-child19"></div>
        </div>
        <div class="status-value11">
          <div class="status-value-child20"></div>
          <div class="status-valuedanger-wrapper8">
            <div class="status-valuedanger11">
              <div class="danger11">Terblokir</div>
            </div>
          </div>
          <div class="status-value-child21"></div>
        </div>
        <div class="status-value12">
          <div class="status-value-child22"></div>
          <div class="status-valuedanger-wrapper9">
            <div class="status-valuedanger12">
              <div class="danger12">Terblokir</div>
            </div>
          </div>
          <div class="status-value-child23"></div>
        </div>
        <div class="status-value13">
          <div class="status-value-child24"></div>
          <div class="status-valuedanger-wrapper10">
            <div class="status-valuedanger13">
              <div class="danger13">Terblokir</div>
            </div>
          </div>
          <div class="status-value-child25"></div>
        </div>
        <div class="status-value14">
          <div class="status-value-child26"></div>
          <div class="status-valuedanger-wrapper11">
            <div class="status-valuedanger14">
              <div class="danger14">Terblokir</div>
            </div>
          </div>
          <div class="status-value-child27"></div>
        </div>
        <div class="status-value15">
          <div class="status-value-child28"></div>
          <div class="status-value-child29"></div>
          <div class="status-valuedanger15">
            <div class="danger15">Danger</div>
          </div>
        </div>
        <div class="status-value16">
          <div class="status-value-child30"></div>
          <div class="status-valuedanger-wrapper12">
            <div class="status-valuedanger16">
              <div class="danger16">Terblokir</div>
            </div>
          </div>
          <div class="status-value-child31"></div>
        </div>
        <div class="status-value17">
          <div class="status-value-child32"></div>
          <div class="status-valuedanger-wrapper13">
            <div class="status-valuedanger17">
              <div class="danger17">Terblokir</div>
            </div>
          </div>
          <div class="status-value-child33"></div>
        </div>
        <div class="heading10">
          <div class="heading-child15"></div>
          <div class="informasi-blokir-wrapper">
            <div class="informasi-blokir">
              <span class="informasi-blokir-txt-container">
                <p class="informasi">Informasi</p>
                <p class="blokir">Blokir</p>
              </span>
            </div>
          </div>
          <div class="heading-child16"></div>
        </div>
        <img
          class="action-value-icon16"
          loading="lazy"
          alt=""
          src="./public/action-value1@2x.png"
        />

        <img
          class="action-value-icon17"
          loading="lazy"
          alt=""
          src="./public/action-value1@2x.png"
        />

        <img
          class="action-value-icon18"
          loading="lazy"
          alt=""
          src="./public/action-value1@2x.png"
        />

        <img
          class="action-value-icon19"
          loading="lazy"
          alt=""
          src="./public/action-value1@2x.png"
        />

        <img
          class="action-value-icon20"
          loading="lazy"
          alt=""
          src="./public/action-value1@2x.png"
        />

        <img
          class="action-value-icon21"
          loading="lazy"
          alt=""
          src="./public/action-value1@2x.png"
        />

        <img
          class="action-value-icon22"
          loading="lazy"
          alt=""
          src="./public/action-value1@2x.png"
        />

        <img
          class="action-value-icon23"
          loading="lazy"
          alt=""
          src="./public/action-value1@2x.png"
        />

        <footer class="tabel-footer1">
          <div class="rectangle-container">
            <div class="frame-child2"></div>
            <div class="frame-child3"></div>
            <div class="frame-child4"></div>
            <div class="frame-child5"></div>
            <div class="rectangle-parent1">
              <div class="frame-child6"></div>
              <div class="empty-wrapper">
                <div class="empty">1</div>
              </div>
            </div>
            <div class="showing-1-to1">Showing 1 to 10 of 50 entries</div>
            <div class="display1">Display</div>
            <div class="div11">10</div>
            <div class="rectangle-parent2">
              <div class="frame-child7"></div>
              <div class="div12">2</div>
            </div>
            <div class="rectangle-parent3">
              <div class="frame-child8"></div>
              <div class="div13">3</div>
            </div>
            <div class="rectangle-parent4">
              <div class="frame-child9"></div>
              <div class="div14">4</div>
            </div>
            <img
              class="chevron-right-icon2"
              loading="lazy"
              alt=""
              src="./public/chevronright.svg"
            />

            <img
              class="chevron-right-icon3"
              loading="lazy"
              alt=""
              src="./public/chevronright-1.svg"
            />
          </div>
          <img class="tabel-footer-item" alt="" src="./public/group-203.svg" />

          <div class="tabel-footer-inner"></div>
        </footer>
        <img
          class="component-2-icon"
          loading="lazy"
          alt=""
          src="./public/component-2@2x.png"
        />

        <div class="h4-heading4">All (8)</div>
        <div class="admin-panel-child2"></div>
        <div class="menus">
          <div class="menus-child"></div>
          <div class="menus-item"></div>
          <div class="menu-multi14">
            <div class="menu-multi-child7"></div>
            <div class="dashboard14">Dashboard</div>
          </div>
          <div class="menu-multi15" id="menuMultiContainer1">
            <div class="menu-multi-child8"></div>
            <div class="component-1-parent10">
              <img
                class="component-1-icon13"
                loading="lazy"
                alt=""
                src="./public/component-1@2x.png"
              />

              <div class="dashboard15">Pengajuan Lapak</div>
            </div>
          </div>
          <div class="menu-multi16" id="menuMultiContainer2">
            <div class="menu-multi-child9"></div>
            <div class="component-1-parent11">
              <img
                class="component-1-icon14"
                loading="lazy"
                alt=""
                src="./public/component-1-1.svg"
              />

              <div class="dashboard16">Lapak Terverifikasi</div>
            </div>
          </div>
          <div class="menu-multi17">
            <div class="menu-multi-child10"></div>
            <div class="component-1-parent12">
              <img
                class="component-1-icon15"
                alt=""
                src="./public/component-1-1.svg"
              />

              <div class="dashboard17">Lapak Terblokir</div>
            </div>
          </div>
          <div class="menu-multi18" id="menuMultiContainer4">
            <div class="menu-multi-child11"></div>
            <div class="component-1-parent13">
              <img
                class="component-1-icon16"
                loading="lazy"
                alt=""
                src="./public/component-1-31@2x.png"
              />

              <div class="dashboard18">Pembaruan Lapak</div>
            </div>
          </div>
          <div class="menu-multi19" id="menuMultiContainer5">
            <div class="menu-multi-child12"></div>
            <div class="component-1-parent14">
              <img
                class="component-1-icon17"
                loading="lazy"
                alt=""
                src="./public/component-1-31@2x.png"
              />

              <div class="dashboard19">Pusat Bantuan</div>
            </div>
          </div>
          <div class="menu-multi20" id="menuMultiContainer6">
            <div class="menu-multi-child13"></div>
            <div class="component-1-parent15">
              <img
                class="component-1-icon18"
                loading="lazy"
                alt=""
                src="./public/component-1-51@2x.png"
              />

              <div class="dashboard20">Keluar</div>
            </div>
          </div>
        </div>
        <div class="rectangle-parent5">
          <div class="frame-child10"></div>
          <div class="h4-heading-container">
            <h3 class="h4-heading5">Daftar Lapak Terblokir</h3>
          </div>
          <div class="textbox1">
            <div class="textbox-child"></div>
            <div class="frame-parent">
              <div class="component-1-wrapper">
                <img
                  class="component-1-icon19"
                  alt=""
                  src="./public/component-1@2x.png"
                />
              </div>
              <input class="search1" placeholder="Search..." type="text" />
            </div>
          </div>
        </div>
      </main>
    </div>

    <script>
      var menuMultiContainer1 = document.getElementById("menuMultiContainer1");
      if (menuMultiContainer1) {
        menuMultiContainer1.addEventListener("click", function (e) {
          // Please sync "Pengajuan lapak" to the project
        });
      }
      
      var menuMultiContainer2 = document.getElementById("menuMultiContainer2");
      if (menuMultiContainer2) {
        menuMultiContainer2.addEventListener("click", function (e) {
          window.location.href = "./list-lapak.html";
        });
      }
      
      var menuMultiContainer4 = document.getElementById("menuMultiContainer4");
      if (menuMultiContainer4) {
        menuMultiContainer4.addEventListener("click", function (e) {
          // Please sync "Pengajuan perubahan lapak" to the project
        });
      }
      
      var menuMultiContainer5 = document.getElementById("menuMultiContainer5");
      if (menuMultiContainer5) {
        menuMultiContainer5.addEventListener("click", function (e) {
          // Please sync "Pusat bantuan" to the project
        });
      }
      
      var menuMultiContainer6 = document.getElementById("menuMultiContainer6");
      if (menuMultiContainer6) {
        menuMultiContainer6.addEventListener("click", function (e) {
          // Please sync "login 1" to the project
        });
      }
      </script>
  </body>
</html>
