<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/admin-dashboard.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="informasi-lapak-terverifikasi1">
      <main class="admin-panel2">
        <div class="vector-parent9" id="groupContainer">
          <img class="frame-child8" alt="" src="./public/rectangle-4432.svg" />

          <div class="blokir-lapak1">Blokir Lapak</div>
        </div>
        <div class="header2">
          <div class="header-inner"></div>
          <div class="jl-bima-no-arjuna">
            <div class="h4-heading4">Informasi Lapak</div>
          </div>
          <div class="vector-parent10">
            <img
              class="frame-child9"
              loading="lazy"
              alt=""
              src="./public/rectangle-443.svg"
              id="rectangle"
            />

            <div class="kembali2">Kembali</div>
          </div>
        </div>
        <div class="jl-bima-no603">
          Jl. Bima No.60, Arjuna, Kec. Cicendo, Kota Bandung
        </div>
        <div class="h4-heading5">Teman Lama</div>
        <img
          class="admin-panel-child13"
          loading="lazy"
          alt=""
          src="./public/line-15.svg"
          
        />

        <img
          class="admin-panel-child14"
          loading="lazy"
          alt=""
          src="./public/line-10.svg"
        />

        <div class="vector-parent11">
          <img class="frame-child10" alt="" src="./public/rectangle-4431.svg" />

          <img class="image-4-icon4" alt="" src="./public/image-4@2x.png" />
        </div>
        <div class="tempatnya-tidak-sesuai1">
          Tempatnya tidak sesuai foto, sangat kotor
        </div>
        <div class="gilbert1">Gilbert</div>
        <div class="vector-parent12">
          <img
            class="vector-icon8"
            loading="lazy"
            alt=""
            src="./public/vector.svg"
          />

          <img class="vector-icon9" alt="" src="./public/vector-1.svg" />
        </div>
        <img
          class="admin-panel-child15"
          loading="lazy"
          alt=""
          src="./public/line-10.svg"
        />

        <div class="vector-parent13">
          <img class="frame-child11" alt="" src="./public/rectangle-4431.svg" />

          <img class="image-4-icon5" alt="" src="./public/image-4-1@2x.png" />
        </div>
        <div class="harga-tidak-sesuai1">Harga tidak sesuai</div>
        <div class="wilson1">Wilson</div>
        <div class="vector-parent14">
          <img
            class="vector-icon10"
            loading="lazy"
            alt=""
            src="./public/vector.svg"
          />

          <img class="vector-icon11" alt="" src="./public/vector-1.svg" />
        </div>
        <img
          class="admin-panel-child16"
          loading="lazy"
          alt=""
          src="./public/line-10.svg"
        />

        <div class="vector-parent15">
          <img class="frame-child12" alt="" src="./public/rectangle-4431.svg" />

          <img class="image-4-icon6" alt="" src="./public/image-4@2x.png" />
        </div>
        <div class="tempat-tidak-sesuai1">Tempat tidak sesuai foto</div>
        <div class="leo2">Leo</div>
        <div class="vector-parent16">
          <img
            class="vector-icon12"
            loading="lazy"
            alt=""
            src="./public/vector.svg"
          />

          <img class="vector-icon13" alt="" src="./public/vector-1.svg" />
        </div>
        <div class="laporan2">Laporan</div>
        <img
          class="admin-panel-child17"
          loading="lazy"
          alt=""
          src="./public/line-7.svg"
        />

        <div class="laporan3">Laporan</div>
        <div class="vector-parent17">
          <img class="frame-child13" alt="" src="./public/rectangle-442.svg" />

          <img
            class="image-3-icon"
            loading="lazy"
            alt=""
            src="./public/image-3@2x.png"
          />
        </div>
        <img
          class="admin-panel-child18"
          loading="lazy"
          alt=""
          src="./public/line-7.svg"
        />

        <div class="foto-lapak">Foto Lapak</div>
        <div class="dibawa-pulang-makan-container">
          <p class="dibawa-pulang">Dibawa pulang</p>
          <p class="makan-ditempat">Makan ditempat</p>
          <p class="ojek-online">Ojek online</p>
        </div>
        <div class="layanan">Layanan</div>
        <img
          class="admin-panel-child19"
          loading="lazy"
          alt=""
          src="./public/line-7.svg"
        />

        <div class="layanan1">Layanan</div>
        <div class="tombol-buka">
          <div class="senin">
            <div class="frame-parent">
              <div class="senin-parent">
                <b class="senin1">Senin</b>
                <div class="background-map">
                  <div class="menu-multi-instance"></div>
                </div>
                <div class="buka-wrapper">
                  <div class="buka">Buka</div>
                </div>
              </div>
              <div class="frame-group">
                <div class="vector-parent18">
                  <img
                    class="frame-child14"
                    alt=""
                    src="./public/rectangle-446.svg"
                  />

                  <div class="main-menu">-</div>
                </div>
                <div class="dashboard-instances-wrapper">
                  <div class="dashboard-instances">-</div>
                </div>
              </div>
            </div>
            <div class="vector-parent19">
              <img
                class="frame-child15"
                alt=""
                src="./public/rectangle-446.svg"
              />

              <div class="map-b-g">-</div>
            </div>
          </div>
          <div class="selasa">
            <div class="frame-container">
              <div class="selasa-parent">
                <b class="selasa1">Selasa</b>
                <div class="frame-wrapper">
                  <div class="frame-parent1">
                    <div class="ellipse-wrapper">
                      <div class="ellipse-div"></div>
                    </div>
                    <div class="buka1">Buka</div>
                  </div>
                </div>
              </div>
              <div class="frame-parent2">
                <div class="vector-parent20">
                  <img
                    class="frame-child16"
                    alt=""
                    src="./public/rectangle-446.svg"
                  />

                  <div class="div1">08.00</div>
                </div>
                <div class="wrapper">
                  <div class="div2">-</div>
                </div>
              </div>
            </div>
            <div class="vector-parent21">
              <img
                class="frame-child17"
                alt=""
                src="./public/rectangle-446.svg"
              />

              <div class="div3">20.00</div>
            </div>
          </div>
          <div class="rabu">
            <div class="frame-parent3">
              <div class="rabu-parent">
                <b class="rabu1">Rabu</b>
                <div class="frame-parent4">
                  <div class="ellipse-container">
                    <div class="frame-child18"></div>
                  </div>
                  <div class="buka2">Buka</div>
                </div>
              </div>
              <div class="frame-parent5">
                <div class="vector-parent22">
                  <img
                    class="frame-child19"
                    alt=""
                    src="./public/rectangle-446.svg"
                  />

                  <div class="div4">08.00</div>
                </div>
                <div class="container">
                  <div class="div5">-</div>
                </div>
              </div>
            </div>
            <div class="vector-parent23">
              <img
                class="frame-child20"
                alt=""
                src="./public/rectangle-446.svg"
              />

              <div class="div6">20.00</div>
            </div>
          </div>
          <div class="kamis">
            <div class="frame-parent6">
              <div class="kamis-parent">
                <b class="kamis1">Kamis</b>
                <div class="frame-wrapper1">
                  <div class="frame-parent7">
                    <div class="ellipse-frame">
                      <div class="frame-child21"></div>
                    </div>
                    <div class="buka3">Buka</div>
                  </div>
                </div>
              </div>
              <div class="frame-parent8">
                <div class="vector-parent24">
                  <img
                    class="frame-child22"
                    alt=""
                    src="./public/rectangle-446.svg"
                  />

                  <div class="div7">08.00</div>
                </div>
                <div class="frame">
                  <div class="div8">-</div>
                </div>
              </div>
            </div>
            <div class="vector-parent25">
              <img
                class="frame-child23"
                alt=""
                src="./public/rectangle-446.svg"
              />

              <div class="div9">20.00</div>
            </div>
          </div>
          <div class="jumat">
            <div class="frame-parent9">
              <div class="jumat-parent">
                <b class="jumat1">Jumat</b>
                <div class="frame-wrapper2">
                  <div class="frame-parent10">
                    <div class="ellipse-wrapper1">
                      <div class="frame-child24"></div>
                    </div>
                    <div class="buka4">Buka</div>
                  </div>
                </div>
              </div>
              <div class="frame-parent11">
                <div class="vector-parent26">
                  <img
                    class="frame-child25"
                    alt=""
                    src="./public/rectangle-446.svg"
                  />

                  <div class="div10">08.00</div>
                </div>
                <div class="wrapper1">
                  <div class="div11">-</div>
                </div>
              </div>
            </div>
            <div class="vector-parent27">
              <img
                class="frame-child26"
                alt=""
                src="./public/rectangle-446.svg"
              />

              <div class="div12">20.00</div>
            </div>
          </div>
          <div class="sabtu">
            <div class="frame-parent12">
              <div class="sabtu-parent">
                <b class="sabtu1">Sabtu</b>
                <div class="frame-wrapper3">
                  <div class="frame-parent13">
                    <div class="ellipse-wrapper2">
                      <div class="frame-child27"></div>
                    </div>
                    <div class="buka5">Buka</div>
                  </div>
                </div>
              </div>
              <div class="frame-parent14">
                <div class="vector-parent28">
                  <img
                    class="frame-child28"
                    alt=""
                    src="./public/rectangle-446.svg"
                  />

                  <div class="div13">08.00</div>
                </div>
                <div class="wrapper2">
                  <div class="div14">-</div>
                </div>
              </div>
            </div>
            <div class="vector-parent29">
              <img
                class="frame-child29"
                alt=""
                src="./public/rectangle-446.svg"
              />

              <div class="div15">20.00</div>
            </div>
          </div>
          <div class="minggu">
            <div class="frame-parent15">
              <div class="minggu-parent">
                <b class="minggu1">Minggu</b>
                <div class="frame-wrapper4">
                  <div class="frame-parent16">
                    <div class="ellipse-wrapper3">
                      <div class="frame-child30"></div>
                    </div>
                    <div class="buka6">Buka</div>
                  </div>
                </div>
              </div>
              <div class="frame-parent17">
                <div class="frame-parent18">
                  <img
                    class="group-icon"
                    loading="lazy"
                    alt=""
                    src="./public/rectangle-446.svg"
                  />

                  <div class="menu-label">08.00</div>
                </div>
                <div class="wrapper3">
                  <div class="div16">-</div>
                </div>
              </div>
            </div>
            <div class="vector-parent30">
              <img
                class="frame-child31"
                alt=""
                src="./public/rectangle-446.svg"
              />

              <div class="div17">20.00</div>
            </div>
          </div>
        </div>
        <img
          class="admin-panel-child20"
          loading="lazy"
          alt=""
          src="./public/line-7.svg"
        />

        <div class="jam-buka">Jam Buka</div>
        <div class="jl-bima-no604">
          Jl. Bima No.60, Arjuna, Kec. Cicendo, Kota Bandung
        </div>
        <div class="lokasi-lapak1">Lokasi Lapak</div>
        <img
          class="admin-panel-child21"
          loading="lazy"
          alt=""
          src="./public/line-7.svg"
        />

        <div class="lokasi1">Lokasi</div>
        <div class="menu-multi-component">
          <div class="bg-map1"></div>
          <img
            class="map-icon1"
            loading="lazy"
            alt=""
            src="./public/map1@2x.png"
          />
        </div>
        <div class="div18">+ 62 123456789</div>
        <div class="no-telepon1">No. Telepon</div>
        <img
          class="admin-panel-child22"
          loading="lazy"
          alt=""
          src="./public/line-7.svg"
        />

        <div class="informasi-kontak1">Informasi Kontak</div>
        <div class="restoran-yang-menyediakan-container1">
          <p class="restoran-yang-menyediakan1">
            Restoran yang menyediakan kopi, indonesian
          </p>
          <p class="food-dan-western1">
            food, dan western food. Enak , murah , dan nyaman. Cocok untuk nugas
            dan berkumpul
          </p>
        </div>
        <div class="deskripsi-lapak1">Deskripsi Lapak</div>
        <img
          class="admin-panel-child23"
          loading="lazy"
          alt=""
          src="./public/line-7.svg"
        />

        <div class="kafe-dan-restoran1">Kafe dan Restoran</div>
        <div class="kategori-bisnis1">kategori Bisnis</div>
        <img
          class="admin-panel-child24"
          loading="lazy"
          alt=""
          src="./public/line-7.svg"
        />

        <div class="teman-lama1">Teman Lama</div>
        <div class="nama-lapak1">Nama Lapak</div>
        <img
          class="admin-panel-child25"
          loading="lazy"
          alt=""
          src="./public/line-7.svg"
        />

        <div class="tentang-lapak1">Tentang Lapak</div>
        <form class="rectangle-group">
          <div class="frame-child32"></div>
          <div class="frame-child33"></div>
          <div class="menu-multi14">
            <div class="menu-multi-child11"></div>
            <div class="dashboard14">Dashboard</div>
          </div>
          <div class="menu-multi15">
            <div class="component-instances"></div>
            <div class="component-1-parent9">
              <img
                class="component-1-icon12"
                alt=""
                src="./public/component-1@2x.png"
              />

              <div class="dashboard15">Pengajuan Lapak</div>
            </div>
          </div>
          <button class="menu-multi16">
            <div class="menu-multi-child12"></div>
            <div class="component-1-parent10">
              <img
                class="component-1-icon13"
                alt=""
                src="./public/component-1-1.svg"
              />

              <div class="dashboard16">Lapak Terverifikasi</div>
            </div>
          </button>
          <div class="menu-multi17">
            <div class="menu-multi-child13"></div>
            <div class="component-1-parent11">
              <img
                class="component-1-icon14"
                loading="lazy"
                alt=""
                src="./public/component-1-1.svg"
              />

              <div class="dashboard17">Lapak Terblokir</div>
            </div>
          </div>
          <div class="menu-multi18">
            <div class="menu-multi-child14"></div>
            <div class="component-1-parent12">
              <img
                class="component-1-icon15"
                loading="lazy"
                alt=""
                src="./public/component-1-3@2x.png"
              />

              <div class="dashboard18">Pembaruan Lapak</div>
            </div>
          </div>
          <div class="menu-multi19">
            <div class="menu-multi-child15"></div>
            <div class="component-1-parent13">
              <img
                class="component-1-icon16"
                loading="lazy"
                alt=""
                src="./public/component-1-3@2x.png"
              />

              <div class="dashboard19">Pusat Bantuan</div>
            </div>
          </div>
          <div class="menu-multi20">
            <div class="menu-multi-child16"></div>
            <div class="component-1-parent14">
              <img
                class="component-1-icon17"
                loading="lazy"
                alt=""
                src="./public/component-1-52@2x.png"
              />

              <div class="dashboard20">Keluar</div>
            </div>
          </div>
        </form>
      </main>
    </div>

    <script>
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          // Please sync "informasi Lapak terverifikasi blokir" to the project
        });
      }
      
      var rectangle = document.getElementById("rectangle");
      if (rectangle) {
        rectangle.addEventListener("click", function (e) {
          // Please sync "List lapak" to the project
        });
      }
      </script>
  </body>
</html>
