<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="css/global.css" />
    <link
      rel="stylesheet"
      href="css/admin-terverifikasi.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="informasi-lapak-terverifikasi">
      <main class="admin-panel1">
        <div class="header1">
          <div class="header-item"></div>
          <div class="h4-heading-wrapper">
            <div class="h4-heading2">Informasi Lapak</div>
          </div>
          <div class="frame-div">
            <img
              class="rectangle-icon"
              loading="lazy"
              alt=""
              src="./public/rectangle-443.svg"
              id="rectangle"
            />

            <div class="kembali1">Kembali</div>
          </div>
        </div>
        <div class="jl-bima-no602">
          Jl. Bima No.60, Arjuna, Kec. Cicendo, Kota Bandung
        </div>
        <div class="h4-heading3">Teman Lama</div>
        <img
          class="admin-panel-child6"
          loading="lazy"
          alt=""
          src="./public/line-15.svg"
        />

        <img
          class="admin-panel-child7"
          loading="lazy"
          alt=""
          src="./public/line-8.svg"
        />

        <div class="vector-parent1">
          <img class="frame-child1" alt="" src="./public/rectangle-442.svg" />

          <div class="lapak-melanggar-ketentuan-container1">
            <span>
              <p class="lapak-melanggar-ketentuan1">
                Lapak melanggar ketentuan
              </p>
              <p class="dari-aplikasi1">dari aplikasi</p>
            </span>
          </div>
        </div>
        <img
          class="admin-panel-child8"
          loading="lazy"
          alt=""
          src="./public/line-7.svg"
        />

        <div class="keterangan-blokir1">Keterangan Blokir</div>
        <div class="vector-parent2" id="groupContainer1">
          <img class="frame-child2" alt="" src="./public/rectangle-4432.svg" />

          <div class="blokir-lapak">Blokir Lapak</div>
        </div>
        <img
          class="admin-panel-child9"
          loading="lazy"
          alt=""
          src="./public/line-10.svg"
        />

        <div class="vector-parent3">
          <img class="frame-child3" alt="" src="./public/rectangle-4431.svg" />

          <img class="image-4-icon1" alt="" src="./public/image-4@2x.png" />
        </div>
        <div class="tempatnya-tidak-sesuai">
          Tempatnya tidak sesuai foto, sangat kotor
        </div>
        <div class="gilbert">Gilbert</div>
        <div class="vector-parent4">
          <img
            class="vector-icon2"
            loading="lazy"
            alt=""
            src="./public/vector.svg"
          />

          <img class="vector-icon3" alt="" src="./public/vector-1.svg" />
        </div>
        <img
          class="admin-panel-child10"
          loading="lazy"
          alt=""
          src="./public/line-10.svg"
        />

        <div class="vector-parent5">
          <img class="frame-child4" alt="" src="./public/rectangle-4431.svg" />

          <img class="image-4-icon2" alt="" src="./public/image-4-1@2x.png" />
        </div>
        <div class="harga-tidak-sesuai">Harga tidak sesuai</div>
        <div class="wilson">Wilson</div>
        <div class="vector-parent6">
          <img
            class="vector-icon4"
            loading="lazy"
            alt=""
            src="./public/vector.svg"
          />

          <img class="vector-icon5" alt="" src="./public/vector-1.svg" />
        </div>
        <img
          class="admin-panel-child11"
          loading="lazy"
          alt=""
          src="./public/line-10.svg"
        />

        <div class="vector-parent7">
          <img class="frame-child5" alt="" src="./public/rectangle-4431.svg" />

          <img class="image-4-icon3" alt="" src="./public/image-4@2x.png" />
        </div>
        <div class="tempat-tidak-sesuai">Tempat tidak sesuai foto</div>
        <div class="leo1">Leo</div>
        <div class="vector-parent8">
          <img
            class="vector-icon6"
            loading="lazy"
            alt=""
            src="./public/vector.svg"
          />

          <img class="vector-icon7" alt="" src="./public/vector-1.svg" />
        </div>
        <div class="laporan">Laporan</div>
        <img
          class="admin-panel-child12"
          loading="lazy"
          alt=""
          src="./public/line-7.svg"
        />

        <div class="laporan1">Laporan</div>
        <form class="rectangle-parent">
          <div class="frame-child6"></div>
          <div class="frame-child7"></div>
          <div class="menu-multi7">
            <div class="menu-multi-child4"></div>
            <div class="dashboard7">Dashboard</div>
          </div>
          <div class="menu-multi8">
            <div class="menu-multi-child5"></div>
            <div class="component-1-parent3">
              <img
                class="component-1-icon6"
                alt=""
                src="./public/component-1@2x.png"
              />

              <div class="dashboard8">Pengajuan Lapak</div>
            </div>
          </div>
          <button class="menu-multi9">
            <div class="menu-multi-child6"></div>
            <div class="component-1-parent4">
              <img
                class="component-1-icon7"
                alt=""
                src="./public/component-1-1.svg"
              />

              <div class="dashboard9">Lapak Terverifikasi</div>
            </div>
          </button>
          <div class="menu-multi10">
            <div class="menu-multi-child7"></div>
            <div class="component-1-parent5">
              <img
                class="component-1-icon8"
                loading="lazy"
                alt=""
                src="./public/component-1-1.svg"
              />

              <div class="dashboard10">Lapak Terblokir</div>
            </div>
          </div>
          <div class="menu-multi11">
            <div class="menu-multi-child8"></div>
            <div class="component-1-parent6">
              <img
                class="component-1-icon9"
                loading="lazy"
                alt=""
                src="./public/component-1-3@2x.png"
              />

              <div class="dashboard11">Pembaruan Lapak</div>
            </div>
          </div>
          <div class="menu-multi12">
            <div class="menu-multi-child9"></div>
            <div class="component-1-parent7">
              <img
                class="component-1-icon10"
                loading="lazy"
                alt=""
                src="./public/component-1-3@2x.png"
              />

              <div class="dashboard12">Pusat Bantuan</div>
            </div>
          </div>
          <div class="menu-multi13">
            <div class="menu-multi-child10"></div>
            <div class="component-1-parent8">
              <img
                class="component-1-icon11"
                loading="lazy"
                alt=""
                src="./public/component-1-51@2x.png"
              />

              <div class="dashboard13">Keluar</div>
            </div>
          </div>
        </form>
      </main>
    </div>

    <script>
      var rectangle = document.getElementById("rectangle");
      if (rectangle) {
        rectangle.addEventListener("click", function (e) {
          // Please sync "List lapak" to the project
        });
      }
      
      var groupContainer1 = document.getElementById("groupContainer1");
      if (groupContainer1) {
        groupContainer1.addEventListener("click", function (e) {
          // Please sync "List lapak" to the project
        });
      }
      </script>
  </body>
</html>
