<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="css/global-pengajuan.css" />
    <link rel="stylesheet" href="css/admin-pengajuan.css" />


    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
    />
  </head>
<body>

    <%- include('./layout/sidebar.ejs') %>
    <%- include('./layout/header.ejs') %>
            

</body>
</html>