<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global-header.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" />
</head>
<body>
    <div class="rectangle-parent6">
        <div class="frame-child11"></div>
        <div class="h4-heading-wrapper">
            <h3 class="h4-heading1" id="page-title"><%= pageTitle %></h3>
        </div>
        <div class="textbox">
            <div class="textbox-child"></div>
            <div class="frame-parent">
                <div class="component-1-wrapper">
                    <img class="component-1-icon6" alt="" src="/image/component-1@2x.png" />
                </div>
                <input class="search" placeholder="Search..." type="text" />
            </div>
        </div>
    </div>
    <script src="../layout/sidebar.js"></script> <!-- Tambahkan ini untuk menghubungkan ke JavaScript -->
</body>
</html>
