<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="css/siderbar.css" />
    <link rel="stylesheet" href="css/global-sidebar.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" />
</head>
<body>
    <div class="rectangle-parent5">
        <div class="frame-child9"></div>
        <div class="frame-child10"></div>
        <div class="menu-multi" data-title="Dashboard">
            <div class="menu-multi-child"></div>
            <div class="dashboard">Dashboard</div>
        </div>
        <button class="menu-multi1" data-title="Pengajuan Lapak">
            <div class="menu-multi-item"></div>
            <div class="component-1-parent">
                <img class="component-1-icon" src="../public/component-1@2x.png" />
                <div class="dashboard1" onclick="location.href='admin-pengajuan'">Pengajuan Lapak</div>
            </div>
        </button>
        <div class="menu-multi2" id="menuMultiContainer1" data-title="Lapak Terverifikasi">
            <div class="menu-multi-inner"></div>
            <div class="component-1-group">
                <img class="component-1-icon1" loading="lazy" alt="" src="./public/component-1-1.svg" />
                <div class="dashboard2" onclick="location.href='admin-terverifikasi'">Lapak Terverifikasi</div>
            </div>
        </div>
        <div class="menu-multi3" id="menuMultiContainer2" data-title="Lapak Terblokir">
            <div class="menu-multi-child1"></div>
            <div class="component-1-container">
                <img class="component-1-icon2" loading="lazy" alt="" src="./public/component-1-1.svg" />
                <div class="dashboard3" onclick="location.href='admin-blokir'">Lapak Terblokir</div>
            </div>
        </div>
        <div class="menu-multi4" id="menuMultiContainer3" data-title="Pembaruan Lapak">
            <div class="menu-multi-child2"></div>
            <div class="group-div">
                <img class="component-1-icon3" loading="lazy" alt="" src="./public/component-1-3@2x.png" />
                <div class="dashboard4" onclick="location.href='admin-pembaruan-lapak'">Pembaruan Lapak</div>
            </div>
        </div>
        <div class="menu-multi5" id="menuMultiContainer4" data-title="Pusat Bantuan">
            <div class="menu-multi-child3"></div>
            <div class="component-1-parent1">
                <img class="component-1-icon4" loading="lazy" alt="" src="./public/component-1-3@2x.png" />
                <div class="dashboard5" onclick="location.href='pusat-bantuan'">Pusat Bantuan</div>
            </div>
        </div>
        <div class="menu-multi6" id="menuMultiContainer5" data-title="Keluar">
            <div class="menu-multi-child4"></div>
            <div class="component-1-parent2">
                <img class="component-1-icon5" loading="lazy" alt="" src="../public/assets/component-1-52@2x.png" />
                <div class="dashboard6" onclick="location.href='login'">Keluar</div>
            </div>
        </div>
    </div>
</body>
</html>
